*{
    margin: 0;
    padding: 0;

}
section{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 8px;

}
.section1{
    background: chartreuse;
}
.section2{
    background: rgb(251, 255, 0);
}
.section3{
    background: rgb(255, 38, 0);
}
.section4{
    background: rgb(0, 47, 255);
}
html{
    scroll-behavior: smooth;
}
.to-top{
    position: fixed;
    right: 32px;
    bottom: 16px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0;
}
.to-top.xyz{
    opacity: 1;
    pointer-events: auto;
}