*{
    margin: 0;
    padding: 0;
}
div{
    padding: 50px;
    box-shadow: 5px 5px 5px 10px black;
    margin: 30px;
    border-radius: 20px;
}
.text{
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 20px;
}
.read-more-btn{
    padding: 10px 20px;
}
.more-text{
    display: none;
}
.text.show-more .more-text{
    display: inline;
}